In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('developers_survey\srp.csv', index_col='Respondent')
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [3]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [4]:
df.head(2)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [5]:
df.teal(3)

AttributeError: 'DataFrame' object has no attribute 'teal'

In [ ]:
df.tail(2)

In [ ]:
clear

In [ ]:
clean

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
pd.set_option('display.max_columns', 61)

In [ ]:
df.column()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df['Hobbyist']

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df.iloc[1,2]

In [ ]:
df.loc[:,'Hobbyist'].head(4)

In [ ]:
df.loc[:, 'Hobbyist':'Employment'].head(6)

In [ ]:
df.iloc[:6, 1:5]

In [ ]:
df_schema = pd.read_csv('developers_survey\srs.csv', index_col='Column')

In [ ]:
df_schema

In [ ]:
df_schema.loc['NEWLearn', 'QuestionText']

In [ ]:
df_schema.sort_index()

In [ ]:
high_salary = df['ConvertedComp'] > 7000
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [ ]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

In [ ]:
df.loc[~filt, 'Country']

In [ ]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
filt

In [ ]:
df.loc[filt]

In [ ]:
df.column

In [ ]:
df.columns

In [ ]:
df.columns = [x.upper() for x in df.columns]

In [ ]:
df.columns

In [ ]:
df.columns = [x.lower() for x in df.columns]
df.rename(columns={"convertedcomp":"SalaryUSD"}, inplace=True)

In [ ]:
df

In [ ]:
df['hobbyist'] = df['hobbyist'].map({'Yes': True, 'No': False})

In [ ]:
df

In [ ]:
df.sort_values(by=["country","salaryusd"], ascending=[True,False], inplace=True)

In [ ]:
df[['country', 'salaryusd']].head(60)

In [ ]:
country_respondents = df['country'].value_counts()

In [ ]:
country_respondents

In [ ]:
country_grp = df.groupby(['country'])
country_uses_python = country_grp['languageworkedwith'].apply(lambda x: x.str.contains('Python').sum())

In [ ]:
country_uses_python

In [ ]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)

In [ ]:
python_df

In [ ]:
python_df.rename(columns={'country':'NumRespondents', 'languageworkedwith':'NumKnowsPython'}, inplace=True)

In [ ]:
python_df

In [ ]:
python_df['pctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100

In [ ]:
python_df.sort_values(by='pctKnowsPython', ascending=False, inplace=True)

In [ ]:
python_df

In [ ]:
df['yearscode'].unique()

In [ ]:
df['yearscode'].replace('Less than 1 year', 0, inplace=True)

In [ ]:
df['yearscode'].unique()

In [ ]:
df['yearscode'].replace('More than 50 years', 51, inplace=True)

In [ ]:
df['yearscode'].unique()

In [ ]:
df['yearscode'] = df['yearscode'].astype(float)

In [ ]:
df['yearscode'].mean()

In [ ]:
df['yearscode'].median()